In [1]:
import pandas as pd

In [44]:
excel = pd.ExcelFile('origin.xlsx')
data = pd.read_excel(excel, 'Table 1.1',skiprows =13).drop(columns=["SACC code(d)"])

In [45]:
data = data [:-2]
data.dropna(axis = 0, inplace = True)

In [46]:
data = data [:-3]

In [47]:
data

,Country of birth(d),2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22(e)
0,Australia,-18680.0,-14740.0,-12790.0,-15220.0,-2280.0,-3620.0,-8130.0,-7980.0,-9840.0,-19390.0,-23000.0,-21370.0,-15870.0,-15500.0,-12360.0,18060.0,7470.0,-14160.0
1,Norfolk Island,20.0,20.0,30.0,20.0,20.0,10.0,10.0,20.0,30.0,10.0,0.0,40.0,70.0,10.0,0.0,0.0,0.0,0.0
2,"Aust E T, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,New Zealand,16870.0,18090.0,22100.0,27730.0,23150.0,15780.0,29040.0,34540.0,24740.0,7240.0,930.0,1480.0,1850.0,3010.0,3330.0,-360.0,-2150.0,4910.0
4,New Caledonia,60.0,30.0,60.0,80.0,90.0,110.0,20.0,40.0,30.0,10.0,70.0,50.0,50.0,-10.0,0.0,10.0,0.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Uganda,190.0,170.0,320.0,170.0,160.0,180.0,190.0,120.0,140.0,140.0,180.0,170.0,150.0,200.0,160.0,210.0,20.0,160.0
246,Zambia,210.0,250.0,360.0,420.0,260.0,210.0,180.0,220.0,210.0,100.0,40.0,70.0,110.0,90.0,80.0,170.0,20.0,210.0
247,Zimbabwe,2150.0,2350.0,2530.0,3240.0,2800.0,1300.0,980.0,1380.0,1180.0,940.0,870.0,1090.0,1150.0,860.0,1130.0,1100.0,200.0,1050.0
248,"S & E Afr, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,Inadequately Described,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
#data["Total"] = data.sum(axis=1)

C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\3396918385.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data["Total"] = data.sum(axis=1)
C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\3396918385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Total"] = data.sum(axis=1)

In [28]:
data

,Country of birth(d),2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22(e),Total
0,Australia,-18680.0,-14740.0,-12790.0,-15220.0,-2280.0,-3620.0,-8130.0,-7980.0,-9840.0,-19390.0,-23000.0,-21370.0,-15870.0,-15500.0,-12360.0,18060.0,7470.0,-14160.0,-189400.0
1,Norfolk Island,20.0,20.0,30.0,20.0,20.0,10.0,10.0,20.0,30.0,10.0,0.0,40.0,70.0,10.0,0.0,0.0,0.0,0.0,310.0
2,"Aust E T, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,New Zealand,16870.0,18090.0,22100.0,27730.0,23150.0,15780.0,29040.0,34540.0,24740.0,7240.0,930.0,1480.0,1850.0,3010.0,3330.0,-360.0,-2150.0,4910.0,232280.0
4,New Caledonia,60.0,30.0,60.0,80.0,90.0,110.0,20.0,40.0,30.0,10.0,70.0,50.0,50.0,-10.0,0.0,10.0,0.0,30.0,730.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Uganda,190.0,170.0,320.0,170.0,160.0,180.0,190.0,120.0,140.0,140.0,180.0,170.0,150.0,200.0,160.0,210.0,20.0,160.0,3030.0
246,Zambia,210.0,250.0,360.0,420.0,260.0,210.0,180.0,220.0,210.0,100.0,40.0,70.0,110.0,90.0,80.0,170.0,20.0,210.0,3210.0
247,Zimbabwe,2150.0,2350.0,2530.0,3240.0,2800.0,1300.0,980.0,1380.0,1180.0,940.0,870.0,1090.0,1150.0,860.0,1130.0,1100.0,200.0,1050.0,26300.0
248,"S & E Afr, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,Inadequately Described,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
temp = 2004
t = data.copy()
for i in range(1,len(t.columns)):
    t.rename(columns={t.columns[i]:f'{temp}'},inplace = True)
    temp +=1
temp = []
for i in range(2004,2010):
    temp.append(f"{i}")
t = t.drop(columns =temp)

In [56]:
t["Total"] = t.sum(axis=1)
t

C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\2538439911.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  t["Total"] = t.sum(axis=1)

,Country of birth(d),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
0,Australia,-8130.0,-7980.0,-9840.0,-19390.0,-23000.0,-21370.0,-15870.0,-15500.0,-12360.0,18060.0,7470.0,-14160.0,-122070.0
1,Norfolk Island,10.0,20.0,30.0,10.0,0.0,40.0,70.0,10.0,0.0,0.0,0.0,0.0,190.0
2,"Aust E T, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,New Zealand,29040.0,34540.0,24740.0,7240.0,930.0,1480.0,1850.0,3010.0,3330.0,-360.0,-2150.0,4910.0,108560.0
4,New Caledonia,20.0,40.0,30.0,10.0,70.0,50.0,50.0,-10.0,0.0,10.0,0.0,30.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Uganda,190.0,120.0,140.0,140.0,180.0,170.0,150.0,200.0,160.0,210.0,20.0,160.0,1840.0
246,Zambia,180.0,220.0,210.0,100.0,40.0,70.0,110.0,90.0,80.0,170.0,20.0,210.0,1500.0
247,Zimbabwe,980.0,1380.0,1180.0,940.0,870.0,1090.0,1150.0,860.0,1130.0,1100.0,200.0,1050.0,11930.0
248,"S & E Afr, nec",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,Inadequately Described,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
sorted_2010 = t.sort_values(by=["Total"],ascending = False).head(10)

In [67]:
sorted_2010

,Country of birth(d),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
129,India,9230.0,18760.0,23670.0,33340.0,38400.0,40860.0,49730.0,55860.0,73190.0,59810.0,-10650.0,38130.0,430330.0
119,China,17680.0,15510.0,22580.0,30800.0,39070.0,45480.0,50020.0,44610.0,20170.0,-18590.0,-50270.0,15150.0,232210.0
116,Philippines,9620.0,14550.0,14210.0,12830.0,12430.0,13000.0,13590.0,12620.0,18400.0,15350.0,1080.0,11570.0,149250.0
34,"UK, CIs & IOM",24820.0,31430.0,25020.0,12260.0,9400.0,9140.0,10460.0,7830.0,7440.0,10670.0,-960.0,920.0,148430.0
131,Nepal,740.0,2080.0,3180.0,7310.0,6410.0,7970.0,14880.0,21000.0,24060.0,13340.0,-2090.0,20170.0,119050.0
3,New Zealand,29040.0,34540.0,24740.0,7240.0,930.0,1480.0,1850.0,3010.0,3330.0,-360.0,-2150.0,4910.0,108560.0
112,Vietnam,4780.0,4720.0,7990.0,8750.0,7320.0,7830.0,8120.0,7250.0,7880.0,7470.0,-1420.0,6550.0,77240.0
132,Pakistan,3830.0,5220.0,6250.0,6850.0,7230.0,6730.0,6990.0,7840.0,7510.0,5600.0,-730.0,6430.0,69750.0
115,Malaysia,4750.0,5040.0,4440.0,3660.0,6680.0,12100.0,12180.0,9590.0,3230.0,1520.0,-4460.0,2300.0,61030.0
242,South Africa,6280.0,6950.0,5520.0,3710.0,3460.0,4080.0,5580.0,4680.0,5990.0,6380.0,2560.0,4520.0,59710.0

In [65]:
t.loc[t["Country of birth(d)"]=="Italy"]

,Country of birth(d),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
56,Italy,1530.0,2770.0,4470.0,3830.0,2580.0,1550.0,1000.0,350.0,220.0,1110.0,-1240.0,-780.0,17390.0

In [71]:
top10 = list(sorted_2010["Country of birth(d)"])
top10

['India',
 'China',
 'Philippines',
 'UK, CIs & IOM',
 'Nepal',
 'New Zealand',
 'Vietnam',
 'Pakistan',
 'Malaysia',
 'South Africa']

In [95]:
off = None
lst = ["New South Wales","Victoria","Queensland","South Australia","Western Australia","Tasmania","Northern Territory","Australian Capital Territory"]
for i in range(2,10):
    table = pd.read_excel(excel, f'Table 1.{i}',skiprows =12).drop(columns=["SACC code(c)"])
    table = table[:-2]
    table.dropna(axis = 0, inplace = True)
    table = table [:-3]
    table = table.loc[table["Country of birth(c)"].isin(top10)]
    table["target"] = lst[i-2]
    if off is None:
        off = table.copy()
    else:
        off = off.append(table,ignore_index = True)

C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\2401250255.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  off = off.append(table,ignore_index = True)
C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\2401250255.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  off = off.append(table,ignore_index = True)
C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\2401250255.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  off = off.append(table,ignore_index = True)
C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\2401250255.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  off = off.append(table,ignore_index = True)
C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\2401250255.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  off = off.append(table,ignore_index = True)
C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\2401250255.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  off = off.append(table,ignore_index = True)
C:\Users\hungt\AppData\Local\Temp\ipykernel_9840\2401250255.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  off = off.append(table,ignore_index = True)

In [84]:
table = pd.read_excel(excel, 'Table 1.2',skiprows =12).drop(columns=["SACC code(c)"])
table = table[:-2]
table.dropna(axis = 0, inplace = True)
table = table [:-3]

In [89]:
table.loc[table["Country of birth(c)"].isin(top10)]

,Country of birth(c),2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22(d)
3,New Zealand,4080.0,3700.0,3910.0,4280.0,3400.0,3180.0,5390.0,4960.0,4010.0,1710.0,800.0,1700.0,1420.0,710.0,590.0,-330.0,1930.0,400.0
34,"UK, CIs & IOM",5360.0,6020.0,7090.0,8850.0,7250.0,5330.0,7170.0,6910.0,6730.0,4210.0,3340.0,3220.0,3980.0,2940.0,2210.0,2820.0,930.0,-340.0
112,Vietnam,770.0,1260.0,1750.0,2430.0,2920.0,2280.0,1570.0,1890.0,2750.0,2930.0,2770.0,2980.0,3180.0,2710.0,2710.0,2240.0,80.0,2110.0
115,Malaysia,870.0,1160.0,1420.0,1310.0,1040.0,630.0,750.0,720.0,660.0,790.0,1120.0,2160.0,2780.0,2320.0,1110.0,380.0,-430.0,310.0
116,Philippines,2370.0,2300.0,2560.0,3030.0,3160.0,2510.0,2460.0,3740.0,3560.0,3890.0,3660.0,4160.0,4780.0,4380.0,6260.0,5150.0,750.0,3750.0
119,China,8030.0,7690.0,11700.0,15350.0,12560.0,9550.0,5950.0,4650.0,8510.0,12160.0,14880.0,17420.0,19250.0,17090.0,6520.0,-10240.0,-16630.0,6070.0
129,India,6340.0,7770.0,11650.0,14640.0,13180.0,4940.0,3150.0,5270.0,7330.0,10300.0,12400.0,13750.0,17020.0,18530.0,21970.0,17610.0,-1650.0,13160.0
131,Nepal,250.0,740.0,3220.0,5520.0,6460.0,1340.0,210.0,1040.0,1530.0,3650.0,3740.0,4970.0,9600.0,14220.0,15260.0,7660.0,-1190.0,14530.0
132,Pakistan,650.0,730.0,1110.0,1170.0,1390.0,1370.0,1500.0,1960.0,2300.0,2500.0,2960.0,2710.0,2860.0,3100.0,2740.0,2090.0,80.0,2740.0
242,South Africa,1250.0,1280.0,1530.0,2230.0,2530.0,1210.0,1320.0,1190.0,990.0,920.0,850.0,1230.0,1830.0,1380.0,1460.0,1870.0,1450.0,1190.0

In [112]:
off

,Country of birth(c),2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22(d),target
0,New Zealand,4080.0,3700.0,3910.0,4280.0,3400.0,3180.0,5390.0,4960.0,4010.0,1710.0,800.0,1700.0,1420.0,710.0,590.0,-330.0,1930.0,400.0,New South Wales
1,"UK, CIs & IOM",5360.0,6020.0,7090.0,8850.0,7250.0,5330.0,7170.0,6910.0,6730.0,4210.0,3340.0,3220.0,3980.0,2940.0,2210.0,2820.0,930.0,-340.0,New South Wales
2,Vietnam,770.0,1260.0,1750.0,2430.0,2920.0,2280.0,1570.0,1890.0,2750.0,2930.0,2770.0,2980.0,3180.0,2710.0,2710.0,2240.0,80.0,2110.0,New South Wales
3,Malaysia,870.0,1160.0,1420.0,1310.0,1040.0,630.0,750.0,720.0,660.0,790.0,1120.0,2160.0,2780.0,2320.0,1110.0,380.0,-430.0,310.0,New South Wales
4,Philippines,2370.0,2300.0,2560.0,3030.0,3160.0,2510.0,2460.0,3740.0,3560.0,3890.0,3660.0,4160.0,4780.0,4380.0,6260.0,5150.0,750.0,3750.0,New South Wales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,China,320.0,340.0,400.0,570.0,730.0,740.0,330.0,390.0,360.0,710.0,1160.0,1340.0,1510.0,1510.0,120.0,-1670.0,-1670.0,700.0,Australian Capital Territory
76,India,170.0,140.0,330.0,390.0,560.0,520.0,150.0,530.0,420.0,660.0,920.0,670.0,710.0,800.0,950.0,1030.0,-170.0,620.0,Australian Capital Territory
77,Nepal,10.0,0.0,30.0,60.0,50.0,30.0,30.0,40.0,60.0,80.0,80.0,40.0,60.0,160.0,170.0,160.0,-60.0,340.0,Australian Capital Territory
78,Pakistan,30.0,50.0,80.0,60.0,90.0,90.0,60.0,100.0,170.0,170.0,210.0,120.0,120.0,140.0,110.0,40.0,-20.0,140.0,Australian Capital Territory
79,South Africa,50.0,40.0,70.0,80.0,110.0,90.0,110.0,170.0,100.0,80.0,90.0,60.0,70.0,80.0,70.0,80.0,20.0,40.0,Australian Capital Territory

In [98]:
f = off.groupby(["Country of birth(c)"])

In [135]:
t3 = off.sort_values(by=["Country of birth(c)","target"],ascending = False)

In [119]:
t3

,Country of birth(c),2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22(d),target
42,Vietnam,190.0,250.0,400.0,650.0,640.0,450.0,310.0,390.0,690.0,650.0,530.0,630.0,550.0,420.0,420.0,660.0,-60.0,250.0,Western Australia
12,Vietnam,1110.0,1330.0,2080.0,3170.0,3830.0,2750.0,1960.0,1500.0,3150.0,3600.0,2700.0,2910.0,2920.0,2570.0,3030.0,2640.0,-1200.0,2770.0,Victoria
52,Vietnam,20.0,10.0,30.0,40.0,30.0,20.0,20.0,0.0,20.0,30.0,50.0,50.0,50.0,100.0,130.0,90.0,-30.0,60.0,Tasmania
32,Vietnam,170.0,240.0,370.0,400.0,500.0,370.0,240.0,270.0,360.0,510.0,420.0,540.0,520.0,540.0,640.0,720.0,-110.0,580.0,South Australia
22,Vietnam,230.0,590.0,640.0,670.0,1030.0,750.0,530.0,590.0,790.0,940.0,740.0,600.0,790.0,730.0,800.0,940.0,-80.0,570.0,Queensland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,China,1490.0,2090.0,2420.0,2620.0,2540.0,2650.0,1230.0,1080.0,1240.0,1960.0,2760.0,2920.0,2880.0,1920.0,1400.0,-1080.0,-2050.0,1070.0,South Australia
25,China,2140.0,2190.0,2930.0,3440.0,3870.0,3630.0,2410.0,1780.0,2530.0,3160.0,4190.0,5160.0,6160.0,5520.0,2360.0,-1090.0,-6030.0,1400.0,Queensland
65,China,20.0,30.0,100.0,160.0,170.0,90.0,50.0,80.0,130.0,110.0,60.0,120.0,190.0,160.0,90.0,-40.0,-60.0,20.0,Northern Territory
5,China,8030.0,7690.0,11700.0,15350.0,12560.0,9550.0,5950.0,4650.0,8510.0,12160.0,14880.0,17420.0,19250.0,17090.0,6520.0,-10240.0,-16630.0,6070.0,New South Wales
75,China,320.0,340.0,400.0,570.0,730.0,740.0,330.0,390.0,360.0,710.0,1160.0,1340.0,1510.0,1510.0,120.0,-1670.0,-1670.0,700.0,Australian Capital Territory

In [136]:
temp = 2004
for i in range(1,len(t3.columns)-1):
    print(t3.columns[i])
    t3.rename(columns={t3.columns[i]:f'{temp}'},inplace = True)
    temp +=1

2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22(d)

In [137]:
t3

,Country of birth(c),2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,target
42,Vietnam,190.0,250.0,400.0,650.0,640.0,450.0,310.0,390.0,690.0,650.0,530.0,630.0,550.0,420.0,420.0,660.0,-60.0,250.0,Western Australia
12,Vietnam,1110.0,1330.0,2080.0,3170.0,3830.0,2750.0,1960.0,1500.0,3150.0,3600.0,2700.0,2910.0,2920.0,2570.0,3030.0,2640.0,-1200.0,2770.0,Victoria
52,Vietnam,20.0,10.0,30.0,40.0,30.0,20.0,20.0,0.0,20.0,30.0,50.0,50.0,50.0,100.0,130.0,90.0,-30.0,60.0,Tasmania
32,Vietnam,170.0,240.0,370.0,400.0,500.0,370.0,240.0,270.0,360.0,510.0,420.0,540.0,520.0,540.0,640.0,720.0,-110.0,580.0,South Australia
22,Vietnam,230.0,590.0,640.0,670.0,1030.0,750.0,530.0,590.0,790.0,940.0,740.0,600.0,790.0,730.0,800.0,940.0,-80.0,570.0,Queensland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,China,1490.0,2090.0,2420.0,2620.0,2540.0,2650.0,1230.0,1080.0,1240.0,1960.0,2760.0,2920.0,2880.0,1920.0,1400.0,-1080.0,-2050.0,1070.0,South Australia
25,China,2140.0,2190.0,2930.0,3440.0,3870.0,3630.0,2410.0,1780.0,2530.0,3160.0,4190.0,5160.0,6160.0,5520.0,2360.0,-1090.0,-6030.0,1400.0,Queensland
65,China,20.0,30.0,100.0,160.0,170.0,90.0,50.0,80.0,130.0,110.0,60.0,120.0,190.0,160.0,90.0,-40.0,-60.0,20.0,Northern Territory
5,China,8030.0,7690.0,11700.0,15350.0,12560.0,9550.0,5950.0,4650.0,8510.0,12160.0,14880.0,17420.0,19250.0,17090.0,6520.0,-10240.0,-16630.0,6070.0,New South Wales
75,China,320.0,340.0,400.0,570.0,730.0,740.0,330.0,390.0,360.0,710.0,1160.0,1340.0,1510.0,1510.0,120.0,-1670.0,-1670.0,700.0,Australian Capital Territory

In [138]:
t3.rename(columns ={"Country of birth(c)":"country"},inplace = True)

In [139]:
t3.to_csv("sankey.csv",index = False)